#body {
    margin: 5%
}
/*----------------------------------------------------------------------------------------------------------------------*/
/* Logo */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
/*----------------------------------------------------------------------------------------------------------------------*/
/* Recherche */
#barre-de-recherche-loupe {
    width: 100%;
    display: flex;
    flex-direction: row;
}
#barre-de-recherche {
    width: 95%;
    height: 80px;
    background-color: rgb(219, 219, 219);
    border-radius: 5px 0 0 5px;
    border: 0;
    padding-left: 2%;
    font-size: 20px;
}
#loupe {
    width: 5%;
    height: 80px;
    background-color: rgb(219, 219, 219);
    border-radius: 0 5px 5px 0;
    border: 0;
    font-size: 30px;
}
#loupe:hover {
    cursor: pointer;
}
/* Ajout des propriétés du message d'erreur du formulaire */
#messageErreurRecherche {
    font-family: Arial;
    color: red;
    font-size: 20px;
    margin: 0;
}
/*----------------------------------------------------------------------------------------------------------------------*/
/* Boutons */
.bouton {
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 200px;
    height: 80px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.valeurIngredients, .valeurAppareils, .valeurUstensiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
}
#ingredients {
     background-color: rgb(0, 140, 255);
}
#appareils {
    background-color: rgb(113, 197, 148);
    margin-left: 20px;
    margin-right: 20px;
}
#ustensiles {
    background-color: rgb(240, 105, 105);
}

.bouton:hover, .bouton:focus {
    background: #D3573C;
    color: black;
    border: 0px;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* Cartes des recettes */
#recettes_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
h3 {
    font-family: Arial;
}
article {
    background-color: rgb(236, 236, 236);
}
.detailsRecette {
    height: 100%;
    width: 500px;
    padding: 0;
    border: 0;
    border-radius:5px;
    margin-bottom: 50px;
}
.vide {
    height: 250px;
    background-color: rgb(182, 174, 174);
    margin: 0;
    border-radius:5px 5px 0 0;
}
.nomTempsIngredientsRecette {
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10px;
}
.nomTemps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ingredientsDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Ingredients {
    margin-right: 20px;
}
.Ingredients h3 {
    text-align: left;
    margin: 0;
    width: 200px;
}
.descriptionContenant {
    text-align: left;
    height: 170px;
    text-overflow: ellipsis;
}

.description {
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin: 0;
  font-size: 15px;
  font-weight: 100;
}
.nomRecette {
    font-size: 20px;
    font-weight: 100;
}
.tempsRecette {
    font-size: 25px;
}
.ingredientRecette {
    font-size: 15px;
}

.detailsRecette:hover {
    cursor: pointer;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* Lightbox */
/* Arrière plan */
/*.modal-lightbox {*/
.RecetteDuPlat h2 {
    font-family: Arial;
    font-size: 40px;
}
.temps-lightbox {
    font-family: Arial;
    font-size: 30px;
}

#lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Contenu de la lightbox */
#contenu-lightbox {
    background-color: white;
    /* margin: auto; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* flex-wrap: nowrap; */
    justify-content: center;
    position: fixed;
}

/* Le bouton fermeture */
.fermer {
    color: #901C1C;
    position: relative;
    top: 40px;
    left: 500px;
    font-size: 90px;
    transition: 0.6s ease;
    background-color: white;
    border: 0;
}

.fermer:hover,
.fermer:focus {
    background-color: #D3573C;
    color: black;
    cursor: pointer;
    border-radius: 3px;
}

.image-lightbox {
    display: none;
    display: flex;
    text-align: center;
    justify-content: center;
    /*width: 80%;*/
    margin-left: 10%;
    margin-right: 10%;
}

.imagetitre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagetitre img, .imagetitre video {
    width: 600px;
    height: 600px;
    margin: 60px;
    margin-bottom: 10px;
    object-fit:cover;
}

.imagePrecSuiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Boutons précédant et suivant */
.precedant,
.suivant {
    cursor: pointer;
    color: #901C1C;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 3px;
    background-color: white;
    border: 0px;
}

.precedant:hover,
.suivant:hover,
.precedant:focus,
.suivant:focus {
    background-color: #D3573C;
    color: black;
    border-radius: 3px 3px 3px 3px;
}

.titre-lightbox {
    color: #901C1C;
    font-size: 20px;
    padding: 8px 12px;
    text-align: center;
}

.ListeDesIngredients {
    color: red;
    font-size: 1.5em;
}
.ingredientRecetteLightbox {
    color: red;
}
.appareils-lightbox {
    color: blue;
    font-size: 1.5em;
}
.ustensiles-lightbox {
    color: green;
    font-size: 1.5em;
}
.recette-lightbox {
    color: orchid;
    font-size: 1.5eem;
}